</div><footer>
<img src="/img/full-logo.png" class="footer-logo"/>
<p class="footer-copyright">
Copyright © bdhotelbooking.com 2016 | Business Management Platform <a href="http://www.bdhotelbooking.com">System Admin</a>
</p>
</footer>